@import "_uikit.scss";

//fonts

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/subset-Montserrat-Regular.eot");
  src: url("/fonts/subset-Montserrat-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/subset-Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/subset-Montserrat-Regular.woff") format("woff"),
    url("/fonts/subset-Montserrat-Regular.ttf") format("truetype"),
    url("/fonts/subset-Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/subset-Montserrat-Bold.eot");
  src: url("/fonts/subset-Montserrat-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/subset-Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/subset-Montserrat-Bold.woff") format("woff"),
    url("/fonts/subset-Montserrat-Bold.ttf") format("truetype"),
    url("/fonts/subset-Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  @extend %list-text;
  @extend %list-marker;
}
ol {
  @extend %ordered-list;
}
ol span {
  @extend %list-text;
}
.hero {
  @extend %gradient-red-text;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}

//MAIN SECTION//

.main-section {
  padding: 0 160px;
  background-image: url("/image/Homepage_background.svg");
  background: $gradient-supersoft;
  border-radius: 0px 0px 12px 12px;

  &__banner {
    background-image: url("/image/Homepage_background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0%;
  }
}

//HEADER//

.header {
  padding: 50px 0 0 0;
  &.serv {
    margin-bottom: 50px;
  }
  &__slash {
    margin-right: 4px;
  }
  &.mobile {
    display: none;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
  }
  &__logo {
    &.tablet {
      display: none;
    }
    &__image {
      &.tablet {
        display: none;
      }
    }
  }
  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__logo {
      display: flex;
      align-items: center;
      margin-right: 4px;
    }
    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 44px;
      color: $white;
    }

    &__separator {
      margin-right: 6px;
    }
    &__language {
      display: flex;
      list-style: none;
      &__item {
        padding: 0 7px;
        border-radius: 8px;
        margin-right: 6px;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }

      &__item.current {
        background-color: $accent;
      }

      &__link {
        @extend %link-regular;
        font-weight: bold;
        color: $text;
        text-decoration: none;
      }
      &__link.current {
        color: $white;
      }
    }
    &__facebook-link {
      &:hover .header__navigation__facebook-logo {
        fill: $accent;
      }
    }
    &__adress {
      text-decoration: none;
      color: $text;
      margin-right: 6px;
    }
    &__phone {
      text-decoration: none;
      margin-right: 6px;
      color: $white;
    }
    &__top {
      margin: 0 0 16px 0;
      display: flex;
      align-items: center;
    }
    &__bottom {
      display: flex;
      justify-content: flex-end;
    }
    &__list {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      &__item {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
        &:hover .header__navigation__list__link {
          padding-bottom: 3px;
          border-bottom: 2px solid $white;
          &.current {
            color: $accent;
            padding-bottom: 3px;
            border-bottom: 2px solid $accent;
          }
        }
      }
      &__link {
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: $white;
        &.current {
          color: $accent;
          padding-bottom: 3px;
          border-bottom: 2px solid $accent;
        }
      }
    }
  }
}
.main-title__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 361px;
}
.main-title {
  @extend %hero;
  color: $white;
  margin-bottom: 405px;
}
.main-section__scroll-button {
  background-color: transparent;
  border: none;
  margin-bottom: 30px;
  &:hover .main-section__scroll-button__path {
    stroke: $accent;
  }
}

//TAGS//

.main-tags {
  padding: 60px 160px;
  &__wrap {
    display: flex;
    justify-content: center;
  }
  &__tags {
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    border-right: solid 4px rgba(255, 255, 255, 0.3);
    flex-shrink: 0;
    &.tablet {
      display: none;
    }
    &__tag {
      @extend %hero;
      margin-bottom: 30px;
      color: $text;
      text-decoration: none;
      &:hover {
        color: $accent;
      }
      &.hero {
        @extend %gradient-red-text;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    max-width: 861px;

    &__title {
      @extend %h2;
      color: $white;
      margin-bottom: 30px;
    }
    &__text {
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 30px;
      color: $white;
    }
  }
}

//SECTION LINK//

.section-link {
  display: flex;
  align-items: center;
  vertical-align: middle;
  @extend %h3-caps;
  text-decoration: none;
  &:hover {
    color: $accent;
  }
  &:hover .section-link__arrow {
    stroke: $accent;
  }
  &__wrap {
    display: flex;
  }
}

//SERVICES//

.services {
  &__wrap {
    display: flex;
    flex-direction: column;
  }
  &__title {
    @extend %hero;
    margin-top: 10px;
    margin-bottom: 60px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      display: flex;
      flex-direction: column;
      max-width: 28.7%;
      margin-right: 60px;
      margin-bottom: 60px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &__image {
        width: 92px;
        margin-bottom: 30px;
      }
      &__title {
        @extend %h3;
        color: $active;
        margin-bottom: 15px;
        text-decoration: none;
        &:hover {
          color: $accent;
        }
      }
      &__text {
        @extend %paragraph;
        color: $white;
        align-self: stretch;
      }
    }
  }
}

//SECTION DIVIDER//
.section-divider {
  &-one {
    height: 10px;
    background-color: #cacadb;
    border-radius: 0px 0px 12px 12px;
    max-width: 1880px;
    margin: 0 20px;
  }
  &-two {
    height: 10px;
    background-color: #e7e7f2;
    border-radius: 0px 0px 12px 12px;
    max-width: 1840px;
    margin: 0 40px;
  }
}

//TEAM//

.team {
  padding: 60px 160px 0 160px;
  &__slider {
    background-color: $bg;
    border-radius: 12px;
    display: flex;
    &__image {
      border-radius: 12px 0 0 12px;
    }
    &__info {
      padding: 30px;
      &__title {
        margin: 5px 0 30px 0;
        @extend %hero;
      }
      &__credits {
        @extend %h4;
        color: $text;
        margin-bottom: 6px;
      }
      &__credits-job {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $text;
      }
    }
    &__buttons {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
      padding: 30px 0;
      &__item {
        border-radius: 100%;
        width: 16px;
        height: 16px;
        background-color: $active;
        border: none;
        opacity: 0.2;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          box-shadow: 0px 0px 2px 2px $active;
        }
        &.active {
          opacity: 1;
        }
      }
    }
  }
}

//PARTNERS//

.partners {
  padding: 30px 100px 0 100px;
  max-width: 1720px;
  margin: 0 auto 60px auto;
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    @extend %h3-caps;
    margin-bottom: 30px;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    &__image {
      max-width: 25%;
      &:first-child {
        border-radius: 12px 0 0 0;
      }
      &:nth-child(4) {
        border-radius: 0 12px 0 0;
      }
      &:nth-child(9) {
        border-radius: 0 0 0 12px;
      }
      &:nth-child(12) {
        border-radius: 0 0 12px 0;
      }
    }
  }
}

//PUBLICATIONS//

.publications {
  background-color: $bg;
  padding: 30px 160px;
  &__wrap {
    display: flex;
    flex-direction: column;
  }
  &__title {
    @extend %hero;
    margin: 30px 0;
  }
  &__recomended {
    display: flex;
    justify-content: space-between;
    &__item {
      display: flex;
      flex-direction: column;
      background: $white;
      border-radius: 8px;
      max-width: 33%;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      &__info {
        max-width: 453px;
        margin: 30px 30px;
      }
      &__title {
        @extend %h4;
        color: $active;
        margin-bottom: 15px;
      }
      &__date {
        padding-bottom: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $text;
        border-bottom: 4px solid $separator;
        margin-bottom: 15px;
      }
      &__text {
        @extend %paragraph;
      }
    }
  }
}

//FOOTER//

.footer {
  background-color: $bg;
  padding: 30px 160px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    &__row {
      margin-bottom: 21px;
      display: flex;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__facebook-link {
    margin-right: 10px;
    &:hover .footer__facebook-logo {
      fill: $accent;
    }
  }
  &__address {
    @extend %link-regular;
    color: $main;
    margin-right: 10px;
    &-link {
      text-decoration: none;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $regular;
      &:hover {
        color: $accent;
      }
    }
  }
  &__phone {
    color: $alt;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    text-decoration: none;
    margin-right: 10px;
  }
  &__mail {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $regular;
    text-decoration: none;
    &:hover {
      color: $accent;
    }
  }
  &__separator {
    margin-right: 10px;
  }
  &__credits {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $text;
    &.tablet {
      display: none;
    }
  }
}

//Desktop SD//
@media (max-width: 1920px) {
  .container {
    max-width: 1440px;
  }
  .main-tags {
    padding: 60px 0;
  }
  .footer {
    padding: 30px 60px;
  }
  .publications {
    padding: 30px 60px;
  }
  .partners {
    padding: 30px 0 0 0;
    max-width: 1440px;
    &__grid {
      &__image {
        &:first-child {
          border-radius: 0 0 0 0;
        }
        &:nth-child(4) {
          border-radius: 0 0 0 0;
        }
        &:nth-child(9) {
          border-radius: 0 0 0 0;
        }
        &:nth-child(12) {
          border-radius: 0 0 0 0;
        }
      }
    }
  }
  .team {
    padding: 60px 60px 0 60px;
  }
  .main-section {
    padding: 0 60px 0 60px;
  }
  .main-title__wrap {
    padding-top: 261px;
  }
  .main-title {
    margin-bottom: 305px;
  }
}

//Tablet HD //
@media (max-width: 1440px) {
  .container {
    max-width: 1024px;
  }
  .main-title__wrap {
    padding-top: 245px;
  }
  .main-title {
    margin-bottom: 289px;
  }
}

//Tablet SD //
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .main-section {
    padding: 0 0 0 0;
    &__banner {
      background-size: 109%;
      background-position: 96% 0%;
    }
  }

  .main-title__wrap {
    padding-top: 264px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .main-title {
    margin-bottom: 417px;
  }
  .header {
    padding: 50px 60px 0 60px;
    &__inner {
      flex-direction: column;
      align-items: flex-start;
    }
    &.services {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    &__navigation {
      &__bottom {
        justify-content: flex-start;
      }
      &__top {
        margin-bottom: 30px;
      }
      &__list {
        padding-left: 0;
      }
      &__language {
        padding-left: 0;
      }
      &__logo {
        &.serv {
          display: none;
        }
        &__image {
          display: none;
        }
      }
    }
    &__logo {
      &.tablet {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
      }
      &__image {
        display: none;
        &.tablet {
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          max-width: 26%;
          &.serv {
            display: block;
            margin-right: 4px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .main-tags {
    padding: 60px;
    &__info {
      padding-left: 0;
      padding-top: 60px;
    }
    &__tags {
      display: none;
      &__tag {
        display: inline;
        margin-right: 30px;
        margin-bottom: 0;
        white-space: nowrap;
      }
      &.tablet {
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 0 0 60px 0;
        border-right: 0;
        border-bottom: solid 4px rgba(255, 255, 255, 0.3);
      }
    }
  }
  .services {
    padding: 60px;
    &__cards {
      &__item {
        max-width: 45.3%;
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:nth-last-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }
  .team {
    &__slider {
      flex-direction: column;
      &__image {
        border-radius: 12px 12px 0 0;
      }
    }
  }
  .partners {
    &__grid {
      &__image {
        max-width: 33.33333%;
      }
    }
  }
  .publications {
    &__recomended {
      flex-wrap: wrap;
      &__item {
        max-width: 47.67%;
        &:nth-child(1) {
          margin-bottom: 30px;
        }
        &:nth-child(2) {
          margin-right: 0;
          margin-bottom: 30px;
        }
        &:nth-child(3) {
          flex-basis: 100%;
          max-width: 100%;
        }
        &__info {
          max-width: 100%;
        }
      }
    }
  }
  .footer {
    &__phone {
      white-space: nowrap;
    }
    &__credits {
      display: none;
      &.tablet {
        white-space: nowrap;
        display: block;
      }
    }
    &__contacts {
      flex-basis: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

//MOBILE//

@media (max-width: 768px) {
  .main-title {
    margin-bottom: 159px;
    text-align: center;
    &__wrap {
      padding-top: 0;
      justify-content: center;
    }
  }
  .container {
    margin: 0 auto;
    width: 315px;
  }
  .header {
    display: none;
    &__logo {
      display: block;
      margin-right: 4px;
      width: 26%;
      &__image {
        display: block;
        max-width: 25%;
        margin-right: 4px;
      }
    }
    &__slash {
      margin-right: 4px;
    }
    &.mobile {
      display: flex;
      padding: 0;
    }
    &__navigation {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      &__hamburger-menu {
        &__button {
          width: 32px;
          height: 32px;
          background-image: url("/image/Hamburger.svg");
          color: transparent;
          background-color: transparent;
          padding: 0;
          border: none;
        }
      }
      &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: $white;
      }
      &__logo {
        align-items: center;
        display: flex;
      }
      &__inner {
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
        padding: 10px 0px;
      }
      &__phone {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: $white;
      }
      &__wrap {
        &__top {
          background-color: #f5f5fa33;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-basis: 100%;
        }
        &__bottom {
          display: flex;
          justify-content: space-between;
          flex-basis: 100%;
          margin-bottom: 129px;
          &.services {
            justify-content: space-between;
            flex-basis: 100%;
            padding-bottom: 10px;
            padding-top: 15px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .main-section {
    &__banner {
      background-size: cover;
      background-position: bottom;
    }
  }
  .main-tags {
    padding: 30px 30px 0 30px;
    &__wrap {
      padding: 0 0px;
    }
    &__info {
      padding-top: 30px;
      &__title {
        font-size: 20px;
        line-height: 24px;
      }
    }
    &__tags {
      &__tag {
        font-size: 30px;
        line-height: 37px;
      }
      &.tablet {
        padding-bottom: 30px;
      }
    }
  }
  .services {
    padding: 30px 30px 60px 30px;
    &__cards {
      &__item {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
    &__title {
      font-size: 30px;
      line-height: 37px;
      padding-bottom: 30px;
      margin-bottom: 0;
    }
  }
  .section-divider {
    &-one {
      margin: 0;
    }
    &-two {
      margin: 0 20px;
    }
  }
  .team {
    padding: 0;
    &__slider {
      &__info {
        &__title {
          font-size: 30px;
          line-height: 37px;
        }
      }
    }
  }
  .partners {
    margin-bottom: 0;
    &__wrap {
      &.serv {
        padding-top: 30px;
      }
    }
    &__grid {
      flex-direction: column;
      flex-wrap: nowrap;
      &__image {
        max-width: 100%;
        &:nth-child(n + 7) {
          display: none;
        }
      }
    }
  }
  .publications {
    padding: 30px 0 0 0;

    &__title {
      font-size: 30px;
      line-height: 37px;
      margin: 5px 0 30px 0;
    }
    &__recomended {
      border-bottom: solid $separator 2px;
      padding-bottom: 30px;
      &__item {
        max-width: 100%;
      }
    }
  }
  .footer {
    padding: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    &__facebook-link {
      margin: 0 0 10px 0;
    }
    &__wrap {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }
    &__credits {
      display: inline-block;
      &.tablet {
        display: none;
      }
    }
    &__contacts {
      flex-direction: column;
      align-items: center;
      &__row {
        flex-direction: column;
        align-items: center;
        margin: 0;
      }
    }
    &__address {
      margin: 0 0 10px 0;
    }
    &__address-link {
      margin-bottom: 21px;
    }
    &__separator {
      display: none;
    }
    &__phone {
      margin: 0 0 10px 0;
    }
    &__mail {
      margin: 0 0 30px 0;
    }
  }
}
