.main-tags__tags__tag.hero, .hero {
  color: transparent;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
}

.services__title, .main-tags__tags__tag, .main-title {
  font-style: normal;
  font-weight: bold;
  font-size: 235%;
  line-height: 46px;
}

.main-tags__info__title {
  font-style: normal;
  font-weight: bold;
  font-size: 190%;
  line-height: 37px;
  color: #24a3ff;
}

.section-link {
  font-style: normal;
  font-weight: bold;
  font-size: 87.5%;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

ol span, ul {
  font-style: normal;
  font-weight: normal;
  font-size: 112.5%;
  line-height: 26px;
  color: #000000;
}

ul {
  list-style-image: url("/image/dot_separator_accent.svg");
}

ol {
  color: #f0145a;
  font-style: normal;
  font-weight: bold;
  font-size: 112.5%;
  line-height: 26px;
}

.header__navigation__language__link {
  color: #006ccf;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 20px;
}

@font-face {
  font-family: "Montserrat";
  src: url("subset-Montserrat-Regular.eot");
  src: url("subset-Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("subset-Montserrat-Regular.woff2") format("woff2"), url("subset-Montserrat-Regular.woff") format("woff"), url("subset-Montserrat-Regular.ttf") format("truetype"), url("subset-Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("subset-Montserrat-Bold.eot");
  src: url("subset-Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("subset-Montserrat-Bold.woff2") format("woff2"), url("subset-Montserrat-Bold.woff") format("woff"), url("subset-Montserrat-Bold.ttf") format("truetype"), url("subset-Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.main-section {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}
.main-section__banner {
  background-image: url("/image/Homepage_background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.header {
  padding: 50px 0 0 0;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
}
.header__navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header__navigation__separator {
  margin-right: 6px;
}
.header__navigation__language {
  display: flex;
  list-style: none;
}
.header__navigation__language__item {
  padding: 0 7px;
  border-radius: 8px;
  margin-right: 6px;
}
.header__navigation__language__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.header__navigation__language__item.current {
  background-color: #f0145a;
}
.header__navigation__language__link {
  font-weight: bold;
  color: #b3b3ba;
  text-decoration: none;
}
.header__navigation__language__link.current {
  color: #ffff;
}
.header__navigation__facebook-link:hover .header__navigation__facebook-logo {
  fill: #f0145a;
}
.header__navigation__adress {
  text-decoration: none;
  color: #b3b3ba;
  margin-right: 6px;
}
.header__navigation__phone {
  text-decoration: none;
  margin-right: 6px;
  color: #ffff;
}
.header__navigation__top {
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
}
.header__navigation__bottom {
  display: flex;
  justify-content: center;
}
.header__navigation__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header__navigation__list__item {
  margin-right: 15px;
}
.header__navigation__list__item:hover .header__navigation__list__link {
  padding-bottom: 3px;
  border-bottom: 2px solid #ffff;
}
.header__navigation__list__item:hover .header__navigation__list__link.current {
  color: #f0145a;
  padding-bottom: 3px;
  border-bottom: 2px solid #f0145a;
}
.header__navigation__list__link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #ffff;
}
.header__navigation__list__link.current {
  color: #f0145a;
  padding-bottom: 3px;
  border-bottom: 2px solid #f0145a;
}

.main-title__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 261px;
}

.main-title {
  color: #ffff;
  margin-bottom: 305px;
}

.main-section__scroll-button {
  background-color: transparent;
  border: none;
  margin-bottom: 30px;
}
.main-section__scroll-button:hover .main-section__scroll-button__path {
  stroke: #f0145a;
}

.main-tags {
  padding: 60px 0;
}
.main-tags__wrap {
  display: flex;
  justify-content: center;
}
.main-tags__tags {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  border-right: solid 4px rgba(255, 255, 255, 0.3);
}
.main-tags__tags__tag {
  margin-bottom: 30px;
  color: #b3b3ba;
  text-decoration: none;
}
.main-tags__tags__tag:hover {
  color: #f0145a;
}
.main-tags__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  max-width: 580px;
}
.main-tags__info__title {
  color: #ffff;
  margin-bottom: 30px;
}
.main-tags__info__text {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #ffff;
}

.section-link {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 10px;
  text-decoration: none;
}
.section-link:hover {
  color: #f0145a;
}
.section-link:hover .section-link__arrow {
  stroke: #f0145a;
}
.section-link__wrap {
  display: flex;
}

.services__wrap {
  display: flex;
  flex-direction: column;
}
.services__title {
  margin-bottom: 60px;
}

/*# sourceMappingURL=styles.css.map */
