.main-tags__tags__tag.hero, .hero {
  color: transparent;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
}

.publications__title, .team__slider__info__title, .services__title, .main-tags__tags__tag, .main-title {
  font-style: normal;
  font-weight: bold;
  font-size: 235%;
  line-height: 46px;
}

.main-tags__info__title {
  font-style: normal;
  font-weight: bold;
  font-size: 190%;
  line-height: 37px;
  color: #24a3ff;
}

.services__cards__item__title {
  font-style: normal;
  font-weight: bold;
  font-size: 140%;
  line-height: 27px;
  color: #24a3ff;
}

.partners__title, .section-link {
  font-style: normal;
  font-weight: bold;
  font-size: 87.5%;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.publications__recomended__item__title, .team__slider__info__credits {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  line-height: 20px;
  color: #24a3ff;
}

.publications__recomended__item__text, .services__cards__item__text {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 26px;
  color: #000000;
}

ol span, ul {
  font-style: normal;
  font-weight: normal;
  font-size: 112.5%;
  line-height: 26px;
  color: #000000;
}

ul {
  list-style-image: url("/image/dot_separator_accent.svg");
}

ol {
  color: #f0145a;
  font-style: normal;
  font-weight: bold;
  font-size: 112.5%;
  line-height: 26px;
}

.footer__address, .header__navigation__language__link {
  color: #006ccf;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 20px;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/subset-Montserrat-Regular.eot");
  src: url("/fonts/subset-Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/subset-Montserrat-Regular.woff2") format("woff2"), url("/fonts/subset-Montserrat-Regular.woff") format("woff"), url("/fonts/subset-Montserrat-Regular.ttf") format("truetype"), url("/fonts/subset-Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/subset-Montserrat-Bold.eot");
  src: url("/fonts/subset-Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/subset-Montserrat-Bold.woff2") format("woff2"), url("/fonts/subset-Montserrat-Bold.woff") format("woff"), url("/fonts/subset-Montserrat-Bold.ttf") format("truetype"), url("/fonts/subset-Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.main-section {
  padding: 0 160px;
  background-image: url("/image/Homepage_background.svg");
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  border-radius: 0px 0px 12px 12px;
}
.main-section__banner {
  background-image: url("/image/Homepage_background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0%;
}

.header {
  padding: 50px 0 0 0;
}
.header.services {
  margin-bottom: 50px;
}
.header__slash {
  margin-right: 4px;
}
.header.mobile {
  display: none;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
}
.header__logo.tablet {
  display: none;
}
.header__navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header__navigation__logo {
  display: flex;
  align-items: center;
  margin-right: 4px;
}
.header__navigation__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #ffff;
}
.header__navigation__separator {
  margin-right: 6px;
}
.header__navigation__language {
  display: flex;
  list-style: none;
}
.header__navigation__language__item {
  padding: 0 7px;
  border-radius: 8px;
  margin-right: 6px;
}
.header__navigation__language__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.header__navigation__language__item.current {
  background-color: #f0145a;
}
.header__navigation__language__link {
  font-weight: bold;
  color: #b3b3ba;
  text-decoration: none;
}
.header__navigation__language__link.current {
  color: #ffff;
}
.header__navigation__facebook-link:hover .header__navigation__facebook-logo {
  fill: #f0145a;
}
.header__navigation__adress {
  text-decoration: none;
  color: #b3b3ba;
  margin-right: 6px;
}
.header__navigation__phone {
  text-decoration: none;
  margin-right: 6px;
  color: #ffff;
}
.header__navigation__top {
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
}
.header__navigation__bottom {
  display: flex;
  justify-content: flex-end;
}
.header__navigation__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header__navigation__list__item {
  margin-right: 15px;
}
.header__navigation__list__item:last-child {
  margin-right: 0;
}
.header__navigation__list__item:hover .header__navigation__list__link {
  padding-bottom: 3px;
  border-bottom: 2px solid #ffff;
}
.header__navigation__list__item:hover .header__navigation__list__link.current {
  color: #f0145a;
  padding-bottom: 3px;
  border-bottom: 2px solid #f0145a;
}
.header__navigation__list__link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #ffff;
}
.header__navigation__list__link.current {
  color: #f0145a;
  padding-bottom: 3px;
  border-bottom: 2px solid #f0145a;
}

.main-title__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 361px;
}

.main-title {
  color: #ffff;
  margin-bottom: 405px;
}

.main-section__scroll-button {
  background-color: transparent;
  border: none;
  margin-bottom: 30px;
}
.main-section__scroll-button:hover .main-section__scroll-button__path {
  stroke: #f0145a;
}

.main-tags {
  padding: 60px 160px;
}
.main-tags__wrap {
  display: flex;
  justify-content: center;
}
.main-tags__tags {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  border-right: solid 4px rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
}
.main-tags__tags.tablet {
  display: none;
}
.main-tags__tags__tag {
  margin-bottom: 30px;
  color: #b3b3ba;
  text-decoration: none;
}
.main-tags__tags__tag:hover {
  color: #f0145a;
}
.main-tags__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  max-width: 861px;
}
.main-tags__info__title {
  color: #ffff;
  margin-bottom: 30px;
}
.main-tags__info__text {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #ffff;
}

.section-link {
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
}
.section-link:hover {
  color: #f0145a;
}
.section-link:hover .section-link__arrow {
  stroke: #f0145a;
}
.section-link__wrap {
  display: flex;
}

.services__wrap {
  display: flex;
  flex-direction: column;
}
.services__title {
  margin-top: 10px;
  margin-bottom: 60px;
}
.services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__cards__item {
  display: flex;
  flex-direction: column;
  max-width: 28.7%;
  margin-right: 60px;
  margin-bottom: 60px;
}
.services__cards__item:nth-child(3n) {
  margin-right: 0;
}
.services__cards__item__image {
  width: 92px;
  margin-bottom: 30px;
}
.services__cards__item__title {
  color: #006ccf;
  margin-bottom: 15px;
  text-decoration: none;
}
.services__cards__item__title:hover {
  color: #f0145a;
}
.services__cards__item__text {
  color: #ffff;
  align-self: stretch;
}

.section-divider-one {
  height: 10px;
  background-color: #cacadb;
  border-radius: 0px 0px 12px 12px;
  max-width: 1880px;
  margin: 0 20px;
}
.section-divider-two {
  height: 10px;
  background-color: #e7e7f2;
  border-radius: 0px 0px 12px 12px;
  max-width: 1840px;
  margin: 0 40px;
}

.team {
  padding: 60px 160px 0 160px;
}
.team__slider {
  background-color: #f5f5fa;
  border-radius: 12px;
  display: flex;
}
.team__slider__image {
  border-radius: 12px 0 0 12px;
}
.team__slider__info {
  padding: 30px;
}
.team__slider__info__title {
  margin: 5px 0 30px 0;
}
.team__slider__info__credits {
  color: #b3b3ba;
  margin-bottom: 6px;
}
.team__slider__info__credits-job {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
}
.team__slider__buttons {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  padding: 30px 0;
}
.team__slider__buttons__item {
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background-color: #006ccf;
  border: none;
  opacity: 0.2;
  margin-right: 15px;
}
.team__slider__buttons__item:last-child {
  margin-right: 0;
}
.team__slider__buttons__item:hover {
  box-shadow: 0px 0px 2px 2px #006ccf;
}
.team__slider__buttons__item.active {
  opacity: 1;
}

.partners {
  padding: 30px 100px 0 100px;
  max-width: 1720px;
  margin: 0 auto 60px auto;
}
.partners__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners__title {
  margin-bottom: 30px;
}
.partners__grid {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
}
.partners__grid__image {
  max-width: 25%;
}
.partners__grid__image:first-child {
  border-radius: 12px 0 0 0;
}
.partners__grid__image:nth-child(4) {
  border-radius: 0 12px 0 0;
}
.partners__grid__image:nth-child(9) {
  border-radius: 0 0 0 12px;
}
.partners__grid__image:nth-child(12) {
  border-radius: 0 0 12px 0;
}

.publications {
  background-color: #f5f5fa;
  padding: 30px 160px;
}
.publications__wrap {
  display: flex;
  flex-direction: column;
}
.publications__title {
  margin: 30px 0;
}
.publications__recomended {
  display: flex;
  justify-content: space-between;
}
.publications__recomended__item {
  display: flex;
  flex-direction: column;
  background: #ffff;
  border-radius: 8px;
  max-width: 33%;
  margin-right: 30px;
}
.publications__recomended__item:last-child {
  margin-right: 0;
}
.publications__recomended__item__info {
  max-width: 453px;
  margin: 30px 30px;
}
.publications__recomended__item__title {
  color: #006ccf;
  margin-bottom: 15px;
}
.publications__recomended__item__date {
  padding-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  border-bottom: 4px solid #e6e6f0;
  margin-bottom: 15px;
}
.footer {
  background-color: #f5f5fa;
  padding: 30px 160px;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__contacts__row {
  margin-bottom: 21px;
  display: flex;
  align-items: center;
}
.footer__contacts__row:last-child {
  margin-bottom: 0;
}
.footer__facebook-link {
  margin-right: 10px;
}
.footer__facebook-link:hover .footer__facebook-logo {
  fill: #f0145a;
}
.footer__address {
  color: #323264;
  margin-right: 10px;
}
.footer__address-link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
.footer__address-link:hover {
  color: #f0145a;
}
.footer__phone {
  color: #46466e;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  text-decoration: none;
  margin-right: 10px;
}
.footer__mail {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
  text-decoration: none;
}
.footer__mail:hover {
  color: #f0145a;
}
.footer__separator {
  margin-right: 10px;
}
.footer__credits {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #b3b3ba;
}
.footer__credits.tablet {
  display: none;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1440px;
  }

  .main-tags {
    padding: 60px 0;
  }

  .footer {
    padding: 30px 60px;
  }

  .publications {
    padding: 30px 60px;
  }

  .partners {
    padding: 30px 0 0 0;
    max-width: 1440px;
  }
  .partners__grid__image:first-child {
    border-radius: 0 0 0 0;
  }
  .partners__grid__image:nth-child(4) {
    border-radius: 0 0 0 0;
  }
  .partners__grid__image:nth-child(9) {
    border-radius: 0 0 0 0;
  }
  .partners__grid__image:nth-child(12) {
    border-radius: 0 0 0 0;
  }

  .team {
    padding: 60px 60px 0 60px;
  }

  .main-section {
    padding: 0 60px 0 60px;
  }

  .main-title__wrap {
    padding-top: 261px;
  }

  .main-title {
    margin-bottom: 305px;
  }
}
@media (max-width: 1440px) {
  .container {
    max-width: 1024px;
  }

  .main-title__wrap {
    padding-top: 245px;
  }

  .main-title {
    margin-bottom: 289px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .main-section {
    padding: 0 0 0 0;
  }
  .main-section__banner {
    background-size: 109%;
    background-position: 96% 0%;
  }

  .main-title__wrap {
    padding-top: 264px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .main-title {
    margin-bottom: 417px;
  }

  .header {
    padding: 50px 60px 0 60px;
  }
  .header__inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .header.services {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .header__navigation__bottom {
    justify-content: flex-start;
  }
  .header__navigation__top {
    margin-bottom: 30px;
  }
  .header__navigation__list {
    padding-left: 0;
  }
  .header__navigation__language {
    padding-left: 0;
  }
  .header__navigation__logo {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .header__logo__image {
    width: 23.8%;
    margin-right: 4px;
  }
  .header__logo.tablet {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .main-tags {
    padding: 60px;
  }
  .main-tags__info {
    padding-left: 0;
    padding-top: 60px;
  }
  .main-tags__tags {
    display: none;
  }
  .main-tags__tags__tag {
    display: inline;
    margin-right: 30px;
    margin-bottom: 0;
    white-space: nowrap;
  }
  .main-tags__tags.tablet {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0 0 60px 0;
    border-right: 0;
    border-bottom: solid 4px rgba(255, 255, 255, 0.3);
  }

  .services {
    padding: 60px;
  }
  .services__cards__item {
    max-width: 45.3%;
  }
  .services__cards__item:nth-child(2n) {
    margin-right: 0;
  }
  .services__cards__item:last-child {
    margin-bottom: 0;
  }
  .services__cards__item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .team__slider {
    flex-direction: column;
  }
  .team__slider__image {
    border-radius: 12px 12px 0 0;
  }

  .partners__grid__image {
    max-width: 33.33333%;
  }

  .publications__recomended {
    flex-wrap: wrap;
  }
  .publications__recomended__item {
    max-width: 47.67%;
  }
  .publications__recomended__item:nth-child(1) {
    margin-bottom: 30px;
  }
  .publications__recomended__item:nth-child(2) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .publications__recomended__item:nth-child(3) {
    flex-basis: 100%;
    max-width: 100%;
  }
  .publications__recomended__item__info {
    max-width: 100%;
  }

  .footer__phone {
    white-space: nowrap;
  }
  .footer__credits {
    display: none;
  }
  .footer__credits.tablet {
    white-space: nowrap;
    display: block;
  }
  .footer__contacts {
    flex-basis: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .main-title {
    margin-bottom: 159px;
    text-align: center;
  }
  .main-title__wrap {
    padding-top: 0;
    justify-content: center;
  }

  .container {
    margin: 0 auto;
    width: 315px;
  }

  .header {
    display: none;
  }
  .header__logo {
    display: block;
    margin-right: 4px;
    width: 26%;
  }
  .header__slash {
    margin-right: 4px;
  }
  .header.mobile {
    display: flex;
    padding: 0;
  }
  .header__navigation {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
  .header__navigation__hamburger-menu__button {
    width: 32px;
    height: 32px;
    background-image: url("/image/Hamburger.svg");
    color: transparent;
    background-color: transparent;
    padding: 0;
    border: none;
  }
  .header__navigation__title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ffff;
  }
  .header__navigation__logo {
    align-items: center;
    display: flex;
  }
  .header__navigation__inner {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 10px 0px;
  }
  .header__navigation__phone {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #ffff;
  }
  .header__navigation__wrap__top {
    background-color: #f5f5fa33;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
  }
  .header__navigation__wrap__bottom {
    display: flex;
    margin-bottom: 129px;
  }
  .header__navigation__wrap__bottom.services {
    padding-bottom: 10px;
    padding-top: 15px;
    margin-bottom: 0;
  }

  .main-section__banner {
    background-size: cover;
    background-position: bottom;
  }

  .main-tags {
    padding: 30px 30px 0 30px;
  }
  .main-tags__wrap {
    padding: 0 0px;
  }
  .main-tags__info {
    padding-top: 30px;
  }
  .main-tags__info__title {
    font-size: 20px;
    line-height: 24px;
  }
  .main-tags__tags__tag {
    font-size: 30px;
    line-height: 37px;
  }
  .main-tags__tags.tablet {
    padding-bottom: 30px;
  }

  .services {
    padding: 30px 30px 60px 30px;
  }
  .services__cards__item {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .services__title {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 30px;
    margin-bottom: 0;
  }

  .section-divider-one {
    margin: 0;
  }
  .section-divider-two {
    margin: 0 20px;
  }

  .team {
    padding: 0;
  }
  .team__slider__info__title {
    font-size: 30px;
    line-height: 37px;
  }

  .partners {
    margin-bottom: 0;
  }
  .partners__wrap.serv {
    padding-top: 30px;
  }
  .partners__grid {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .partners__grid__image {
    max-width: 100%;
  }
  .partners__grid__image:nth-child(n+7) {
    display: none;
  }

  .publications {
    padding: 30px 0 0 0;
  }
  .publications__title {
    font-size: 30px;
    line-height: 37px;
    margin: 5px 0 30px 0;
  }
  .publications__recomended {
    border-bottom: solid #e6e6f0 2px;
    padding-bottom: 30px;
  }
  .publications__recomended__item {
    max-width: 100%;
  }

  .footer {
    padding: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .footer__facebook-link {
    margin: 0 0 10px 0;
  }
  .footer__wrap {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .footer__credits {
    display: inline-block;
  }
  .footer__credits.tablet {
    display: none;
  }
  .footer__contacts {
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts__row {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .footer__address {
    margin: 0 0 10px 0;
  }
  .footer__address-link {
    margin-bottom: 21px;
  }
  .footer__separator {
    display: none;
  }
  .footer__phone {
    margin: 0 0 10px 0;
  }
  .footer__mail {
    margin: 0 0 30px 0;
  }
}

/*# sourceMappingURL=styles.css.map */
